.search-container input {
  position: relative;
  background-color: white;
  padding: 0px 10px;
  border-radius: 11.9px;
  color: black;
  border: none;
}

.res-container {
  position: absolute;
  background-color: white;
  border: 2px solid purple;
  border-radius: 2px;
  color: black;
  width: 170%;
  max-height: 400px;
  overflow-y: auto;
  font-size: 16px;
}

.search-container::-webkit-scrollbar {
  width: 5px;
}

.channel-res {
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}

.channel-res img {
  width: 180px;
  height: 110px;
  padding: 10px 10px;
}

.channel-res:hover {
  color: white;
  background: #9370DB;
}
